<% if params[:sort] == 'popular' %>     
  <% content_for(:title) do %>
    Popular
  <% end %>
<% end %>
<div class="row"> 
  <div class="col-md-12">
      <% if @group -%>
          <div class="group-visibility" style="display: inline;"><h4><small><%= echo_group_visibility(@group) %><% if @group.visibility == 'link_only' %> <i class="group-link glyphicon glyphicon-link"></i><% end %></small></h4></div>
      <% end -%>
        <%= render :partial => 'memes/memes', :locals => { :memes => @memes } %>
      <%= paginate @memes %>
    <br>
  </div>
</div>
<!-- 
  <div class="col-md-1">
    <div class="btn-group-vertical left-nav">

      <a href="<%= gaware_new_meme_path %>" class="btn btn-danger">+ New Meme</a>
      <a type="button" data-toggle="modal" href="#new-group" class="btn btn-primary">+ New Group</a>
    </div>
  </div>    --> 

