<%= image_tag "/generated/" + @meme.id.to_s + ".jpg" %>
<br>
<br>
<div>
	<% if @author %>
		<p>
		  <strong>Author:</strong>
		  <%= @author %>
		</p>
	<% end %>
	<p>
	  <strong>Context:</strong>
	  <%= @meme.context %>
	</p>
</div>

<%= link_to "Back", :back, class: "btn btn-default" %>