/* Sticky footer styles
    -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}
#push {
  margin-bottom: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  max-width: 90%;
  width: auto;
}
.container .credit {
  margin: 10px 0 0 0;
  color: #666666 !important;
}

.templates-container {
  overflow: auto; /* Enable scrolling. */
  max-height: 300px;
  margin-bottom: 20px;
  img {
    max-width: 20%;
    max-height: 110px;
  }

  label {
    display: inline;
  }

  input[type="radio"] {
    display: none;
  }

  .template {
    margin: 0 0px 5px 0;
    cursor: pointer;
  }

}

.meme-fields {
  float: left;
  margin-right: 40px;
}

.field {
  margin-bottom: 5px;
}

.meme-canvas {
  position: absolute;
}

#imageCanvas {
  z-index: 0;
}

#textCanvas {
  z-index: 1;
}

.canvas-container {
  position: relative;
  margin-bottom: 60px;
  float: left;
}

.memes-container {
  width: 100%;
  line-height: 0;
/*  -webkit-column-count: 5;
  -webkit-column-gap:   10px;
  -moz-column-count:    5;
  -moz-column-gap:      10px;
  column-count:         5;
  column-gap:           10px; */
  .meme-image {
    max-width: 100%;
    max-height: 100%;
  }

  a:nth-child(4n) .meme-image{
    margin-right: 0;
  }

  .meme {
    position: relative;
    display: inline-block;
    z-index: 0;
  }

}

a.nav-button {
  padding: 0 !important;
  margin: 15px 15px 15px 0;
}

@media (min-width: 1441px) {
  .meme {
    max-width: 22.13835443%;
    margin: 0 2.597402597% 2.597402597% 0;
  }
}

@media (max-width: 1440px) {
  .meme {
    max-width: 21.644295302%;
    margin: 0 2.684563758% 2.684563758% 0; 
  }
}

@media (max-width: 1200px) {
  .memes-container {
    .meme-image {
      max-width: 44%;
    }
  }
}

@media (max-width: 800px) {
  .memes-container {
    .meme-image {
      max-width: 100%;
    }
  }
}

.signin-form input[type="password"],
.signin-form input[type="email"],
.signin-form input[type="text"] {
  width: 400px;
}

.meme .vote-buttons {
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: 1;
  button {
    font-size: 12px !important;
    height: 32px;
  }
}

button.vote-count {
  cursor: default;
  &:hover{
    color: #666666 !important;
    background-color: #ffffff !important;
    border-color: #cccccc !important;
  }
}

a.feedback-link {
  position: absolute;
  bottom: 0;
}

.left-nav {
  display: block !important;
}

.modal input {
  max-width: 100% !important;
}

.group-checkboxes {
  display: inline-block;
  margin-left: 10px;
}

.group-settings-icon {
  position: absolute;
  right: 10px;
  top: 8px;
}

.meme-meta-data {
  margin-bottom: 25px;
}

.meme-actions{
  margin-right: 5px;
}

.group-visibility small {
  padding: 15px 15px 15px 0;

  .popover {
    font-size: 12px;
  }
}

.meme-container {
  float: left;
}

Rossback {
  font-size: 200px;
}