/* Sticky footer styles
    -------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  max-width: 70%;
  width: auto;
}
.container .credit {
  margin: 20px 0;
}

.templates-container {
  overflow: auto; /* Enable scrolling. */
  max-height: 300px;
  margin-bottom: 20px;
  img {
    max-width: 20%;
    max-height: 120px;
  }

  label {
    display: inline;
  }

  input[type="radio"] {
    display: none;
  }

  .template {
    margin: 0 0px 5px 0;
    cursor: pointer;
  }

}

.meme-fields {
  float: left;
  margin-right: 40px;
}

.field {
  margin-bottom: 5px;
}

.meme-canvas {
  position: absolute;
}

#imageCanvas {
  z-index: 0;
}

#textCanvas {
  z-index: 1;
}

.canvas-container {
  position: relative;
  margin-bottom: 60px;
  float: left;
}

.memes-container {
  width: 100%;
  line-height: 0;
/*  -webkit-column-count: 5;
  -webkit-column-gap:   10px;
  -moz-column-count:    5;
  -moz-column-gap:      10px;
  column-count:         5;
  column-gap:           10px; */
  img.meme {
    max-width: 22.13835443%;
    height: auto;
    margin: 0 3.375527426% 3.375527426% 0;
  }

  a:nth-child(4n) img.meme{
    margin-right: 0;
  }

}

a.nav-button {
  padding: 0 !important;
  margin: 20px 15px 15px 0;
}

@media (max-width: 1200px) {
  .memes-container {
    img.meme {
      max-width: 44%;
    }
  }
}

@media (max-width: 800px) {
  .memes-container {
    img.meme {
      max-width: 100%;
    }
  }
}

.signin-form input[type="password"],
.signin-form input[type="email"] {
  width: 400px;
}